
.app {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  margin-top:30px;
  margin-bottom:3px;
  margin-right:150px;
  margin-left:150px;
  border: 1px solid rgba(120, 120, 120, 0.3); 
  box-shadow: 0 0 10px rgba(120, 120, 120, 0.5); 
  border-radius: 4px;
  
  color: rgb(56, 56, 56);
  background-color:whitesmoke;
}
.app__header{
  display: flex;
  align-items: center; 
  gap: 20px; 
  padding: 20px;
  
  
}

.app__searchForm {
  margin-top: 20px;
}

.app__input {
  padding:4px 60px 4px 4px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 15px;
  border: 2px solid rgb(56, 56, 56);
  border-radius: 4px;
  background-color: rgb(258, 258, 258);
}

.app__submit {
  padding: 4px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: rgb(258, 258, 258);
  border: 2px solid rgb(56, 56, 56);
  border-radius: 4px;
  color: rgb(56,56,56);
  cursor: pointer;
}

.app__submit:hover {
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: white;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: #02aff0;
  cursor: pointer;
}

.app__recipes {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  align-items: baseline;
  gap: 24px;
 
}
.app__healthLabels{
  border: 1px solid rgb(56, 56, 56);
  border-radius: 4px;
  background-color: rgb(258, 258, 258);
  cursor:pointer;
  /* padding: */
}
.app__healthLabels:hover {
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: white;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: #02aff0;
  cursor: pointer;
}
